{% load staticfiles %}
<html>
	<head>
		<title> {% block title %}{% endblock %}</title>

	    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
					 body {
					    display: flex;
					    min-height: 100vh;
					    flex-direction: column;
						  }

					  main {
			  			  flex: 1 0 auto;
			 			 }
		 			  .myBlack {
	 			  		background-color:#0E0E0E !important;

		 			  }
		 			 {% block style %}
		 			 {% endblock %}
		</style>
		{% block links %}{% endblock %}
		<script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
		<script>
		{% block js %}
		{% endblock %}
		</script>

		<script src="{% static 'materialize/js/materialize.js' %}"></script>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>



	</head>
	<body class="transparent">
			<header>
			  <div class="navbar-fixed ">
			    <nav>
			      <div class="nav-wrapper myBlack z-depth-2">
			       <!-- <a href="#!" class="brand-logo center" >Shadow LoL</a> -->
			        <ul class="left hide-on-med-and-down">
			          <li><a href="/">Home</a></li>
			          <li><a href="/stadistics">Statistics</a></li>
			          <li><a href="/topPlayers/euw">Top Players</a></li>
			        </ul>
			        {% block navContent %}{% endblock %}
			      </div>
			    </nav>
			  </div>
			</header>
			<main>
				{% block content %}

				{% endblock %}
			</main>
	</body>
 <footer class="page-footer myBlack" id="myFooter">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"> Shadow LoL</h5>
                <p class="grey-text text-lighten-4">All information using in this page has been collected from the Riot Api.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://GitHub.com/iamnikiyo">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">bynikiyodesigns@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright black">
            <div class="container">
            © 2016 Copyright bynikiyoDesigns
            </div>
          </div>
        </footer>


</html>
