	
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ summoner.name }} {% endblock %}

{% block style %}
	#generalData{
		margin-top:15px;
		background-color:#f5f2f0;
		padding:0px !important;
		border: 1px solid rgba(51,51,51,0.12);
	}
	main {
		background-color:#e0e0e0;
		margin:0px;
	}
	#myFooter {
		margin-top:0px;
	}
	#divMedio{
		border: 1px solid rgba(51,51,51,0.12);
		margin-top:15px;
	}
	.titleDiv{
		font-weight:bold;
		text-align:center;
		padding:5px !important;
		margin:0px !important;
		background-color:#EAEAEA;
		border-bottom: 1px solid rgba(51,51,51,0.12);
	}
	.divRight{
		margin-left:10px !important;

	}
	@media (max-width: 600px) {

		.divRight{
			margin-left:0px !important;
		}
	}

	.tabs{
		border: 1px solid rgba(51,51,51,0.12);

	}
	.tabs .tab a {

		color:black;
		
	}
	.tabs .tab a:hover{
		color:#bc0810;
	}
	.tabs .indicator {
		background-color:#bc0810;
	}
	#divContentTabs {
		background-color:#f5f2f0;
		border: 1px solid rgba(51,51,51,0.12);
		padding:0px;

	}
	#divTabs{
		padding:0px !important;

	}
	ul{max-width:100%; !important}
	
	.tab-content{
		display:none;

	}
	.tab-content.current {
			display: inherit;
		}
	.divInsideTab{
		padding:0px !important;
		border-right: 1px solid rgba(51,51,51,0.12);
	}
{% endblock %}


{% block content %}
	<div class="row grey lighten-2" id="contenedor">
		<div class="col s12  m10 offset-m1 grey lighten-3 z-depth-1" id="divMedio">
			<div class="row">
				<div class="col s12 m5  offset-m1 " id="generalData">
					<div class="col s12 titleDiv">
						<h7 class="flow-text"><b>General Data</b></h7>
					</div>
					
					<div class="col s12 m10 offset-m2" style="padding:15px;">
						<div class="row valign-wrapper">
							<div class="col s5 m3" style="padding:0px;">
								<img class="circle responsive-img"  src="{% static 'img/' %}{{ summoner.profile_icon_id}}.jpg" />
							</div>
							<div class="col s7 m7 offset-m1 offset-s1" style="vertical-align:middle;padding:0px;">
								<div><span class="flow-text" >{{ summoner.name }}</span></div>
								<div><span class="flow-text">Level {{ summoner.level }}</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m5 divRight" id="generalData">
					<div class="col s12 titleDiv">
						<h7 class="flow-text"><b>Ranked Data</b></h7>
					</div>
					<div class="col s12 m10 offset-m1" style="padding:15px;">
						<div class="row valign-wrapper">
							<div class="col s5 m3" style="padding:0px;">
								<img class="circle responsive-img" src="{% static 'img/' %}{{ranking}}" />
							</div>
							<div class="col s7 m7 offset-m1	offset-s1" style="vertical-align:middle;padding:0px;">
								<div><span class="flow-text">{{ elo }}</span></div>
								<div><span class="flow-text"> {{ leagues.wins }}W/{{leagues.losses}}L</span></div>
								
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col s12  m10 offset-m1" id="divTabs">
						<ul class="tabs">
					        <li class="tab col s2 m2 tab-content current" data-tab="tab-1"><a class="active">Summary</a></li>
					        <li class="tab col s2 m2 tab-content" data-tab="tab-2"><a>Games</a></li>
					        <li class="tab col s2 m2 tab-content" data-tab="tab-3"><a>Champions</a></li>
					        <li class="tab col s2 m2 tab-content" data-tab="tab-4"><a>Runes</a></li>
					        <li class="tab col s2 m2 tab-content" data-tab="tab-5"><a>Masteries</a></li>
				        </ul>
				        <div class="col s12 m12" id="divContentTabs">
				        	<div id="tab-1" class="tab-content current">
				        		<div class="col s8 m8 divInsideTab">
				        			<p class="flow-text">Content games</p>
				        		</div>
				        		<div class="col s4 m4">
									<p class="flow-text">Content champ</p>
				        		</div>
				        	</div>
				        	<div id="tab-2" class="tab-content">
				        		<h1>Im games</h1>
				        	</div>
				        </div>
			     
				</div>
			</div>
	</div>
{% endblock %}

{% block js %}

	$(document).ready(function(){
		
		$('ul.tabs li').click(function(){
			var tab_id = $(this).attr('data-tab');

			$('ul.tabs li').removeClass('current');
			$('.tab-content').removeClass('current');

			$(this).addClass('current');
			$("#"+tab_id).addClass('current');
		})

	})

{% endblock %}