#generalData{
  margin-top:15px;
  background-color:#f5f2f0;
  padding:0px !important;
  border: 1px solid rgba(51,51,51,0.12);
}
main {
  background-color:#e0e0e0;
  margin:0px;
}
#myFooter {
  margin-top:0px;
}
#divMedio{
  border: 1px solid rgba(51,51,51,0.12);
  margin-top:15px;
}
.titleDiv{
  font-weight:bold;
  text-align:center;
  padding:5px !important;
  margin:0px !important;
  background-color:#EAEAEA;
  border-bottom: 1px solid rgba(51,51,51,0.12);
}
.divRight{
  margin-left:10px !important;
}
@media (max-width: 600px) {
  .divRight{
    margin-left:0px !important;
  }
}
.tabs{
  border: 1px solid rgba(51,51,51,0.12);
}
.tabs .tab a {
  color:black;
}
.tabs .tab a:hover{
  color:#bc0810;
}
.tabs .indicator {
  background-color:#bc0810;
}
#divContentTabs {
  background-color:#f5f2f0;
  border: 1px solid rgba(51,51,51,0.12);
  padding:0px;
}
#divTabs{
  padding:0px !important;
}
ul{max-width:100%; !important}
.tab-content{
  display:none;
}
.tab-content.current {
    display: inherit;
  }
.divInsideTab{
  padding:5px !important;
  border-right: 1px solid rgba(51,51,51,0.12);
}
.divGame{
  margin-top:5px;
  overflow:hidden;
  position:relative;
border-spacing: 10px;
}
.childGame{

}
.winGame{
  background-color:#a5d6a7 !important;
  border:1px solid #81c784;
  display:table;
  table-layout:fixed;
  padding:0px;

}
.losseGame{
  background-color:#ef9a9a !important;
  border:1px solid #e57373;
  display:table;
  table-layout:fixed;
  padding:0px;
    }
p{
  text-align:center;
}
.tableCell{
  display:table-cell;
  line-height:20px;
  text-align:center;
  vertical-align:middle;
}
.cellImg {
  width:100%;
}
.imgSpell{
 width:100%;
  max-width: 30%;
  height:auto;
  border-radius:10%;
}
.itemBuild {
  display:inline-block;
}
.imgBuild{
  width:32px;
  height:32px;
  border-radius:10%;

}
.gameKillSpread{
  font-weight: bold;
}
.gameChampName {
  font-weight: bold;
  font-size:1.1em;
 margin-top:1px;
}
.gameKills{
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
}
.divChampData{
margin-top:5px;
}
.gameDeads{
  color:#e53935;
  letter-spacing: 1px;
}
.gameLevel{
    font-weight: bold;
}

.winGameText{
  font-size: 1.1em;
  font-weight: bold;
  color: #43a047;
}
.losseGameText{
  font-size: 1.1em;
  font-weight: bold;
  color: #e53935 ;
}
.champImgDiv{
  width:80px;
}
.topImageChamp{
  max-width: 45% !important;
}
.champBoxTable{
  display:table;
  border-spacing: 15px;
  border-bottom: 1px solid rgba(51,51,51,0.12) ;
  table-layout: fixed;
}

.champBoxCell{
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}
.champBoxName{
  display:block;
  font-weight: bold;
  text-align: center;
}
.champBoxCS{
  display:block;
  font-size: 0.9em;
  text-align: center;
}
.champBoxKDA{
  letter-spacing: 1px;
}
.champBoxKDAPercent{
  font-weight: bold;

}
@media (max-width: 1400px) {
  #champSpells{
      width:65px !important;
      }
    .gameLevelDiv{
      width:12%;
    }
    .champImgDiv{
      max-width: 19%;
      width:65px;
    }
    .imgSpell{
      max-width: 45%;
    }
    .generalDataGame{
      width:65px;
    }
  }
